[submodule "src/cdcpd"]
	path = src/cdcpd
	url = git@github.com:RMDLO/cdcpd.git
[submodule "src/arc_utilities"]
	path = src/arc_utilities
	url = git@github.com:UM-ARM-Lab/arc_utilities.git
[submodule "src/pyrosmsg"]
	path = src/pyrosmsg
	url = git@github.com:UM-ARM-Lab/pyrosmsg.git
[submodule "src/trackdlo"]
	path = src/trackdlo
	url = git@github.com:RMDLO/trackdlo.git
[submodule "src/graph_rviz_plugin"]
	path = src/graph_rviz_plugin
	url = git@gitlab.com:InstitutMaupertuis/graph_rviz_plugin.git
[submodule "src/geometric_shapes"]
	path = src/geometric_shapes
	url = git@github.com:ros-planning/geometric_shapes.git
